<!doctype html>
<html>
  <head>
     <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        
        {% if title %}
        <title>{{ title }} - 營養標示系統</title>
        {% else %}
        <title>歡迎來到營養標示系統</title>
        {% endif %}

        <link href="https://bootswatch.com/5/lumen/bootstrap.min.css" rel="stylesheet" integrity="sha384-1CmrxMRARb6aLqgBO7f4pP5d3>
  </head>
  <body>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
        
        {% block scripts %}{% endblock %}
    <div>
      <a href="{{ url_for('main.index') }}">首頁</a>
      <span style="margin: 0 10px;">|</span>

      {% if current_user.is_authenticated %}
        <a href="{{ url_for('recipes.index') }}">我的食譜</a>
        <a href="{{ url_for('recipes.manage_ingredients') }}">食材管理</a> <span style="margin: 0 10px;">|</span>
        {# 新增產品管理連結 #}
        <a href="{{ url_for('products.index') }}">產品管理</a>
        <span style="margin: 0 10px;">|</span>
        <span>您好, {{ current_user.username }}!</span>
        <a href="{{ url_for('auth.logout') }}">登出</a>
      {% else %}
        <a href="{{ url_for('auth.login') }}">登入</a>
        <a href="{{ url_for('auth.register') }}">註冊</a>
      {% endif %}
    </div>
    <hr>
    
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <ul style="color: green; list-style: none; padding: 0;">
        {% for message in messages %}
        <li><b>{{ message }}</b></li>
        {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}

    {% block content %}{% endblock %}
  </body>
</html>